* {
    
    font-family:roboto ;
    
    box-sizing: border-box;
    margin:0;
    padding:0
   }

li , a , button {
    font-weight: 500 ;
    font-size: 16px;
    color:black;
    text-decoration: none ;
}
.logo{
    width: 80px;
    height: 80px;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px  ;
    background-color: 	#e0cda9 ;
    /*position: fixed;*/
    width: 100%;}
footer {
    background-color: 	#e0cda9 ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px  ;
    
}
.tablecss {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 25px auto;
    border: 2px solid #e0cda9;
    /* border: 1px solid #ddd;  */
}

thead tr {
    background-color: #e0cda9;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
.logo  {
    margin: right 0; 
    cursor: pointer;
}

.navlinks{
    list-style: none;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a {
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover {
   color: blanchedalmond ; 
}
button{
padding: 9px 25px;
background-color:rgb(210,105,30, 1);
border: none ;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
}
button:hover{
    background-color:rgb(210,105,30,0.8);
}
h1 {
	/*color:#976B36;*/
color:black;
    margin-right: auto; 
    cursor: pointer;
    font-style: normal;
}

nav a {
    
    color:black;
}
.title{
  color:rgb(11, 196, 125)
}
nav {
    display: inline;
    display: block;
    padding: 20px;
    color:black;
}
  /*  background-color: #BD9B75; /*

 
 /* #blue-bordered {
    border: 5px dotted rgb(86, 155, 233);
}*/

body2{
    background-color: #eee3d3;
    display:block;
    justify-content: space-between;
    align-items: center;
    padding: 30px  ;
}
iframe{
    align: center;
}
.gallery {
margin: 10px 0px;


}
.gallery img {
    Width: 230px;
    height: 200px;
    padding: 5px;
    filter: grayscale(50%);
    transition: 1s;
}
.gallery img:hover{
    filter:grayscale(0);
    transform: scale(1.1);
}
p{
color: black;
}
h3{
    color: #816A64;
    
}
/* Selecting styles to be applied to several classes */



h2{
   color: #63596C
}
/*ALEH KI NBADEL PADDING HOUNI CONTACT YETBADEL MAAH */
.container{
    margin: 10px 10px;
    padding: 50px;  
  background-color: #dcc8a8; 
}
input[type=text], input[type=password] textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }  
  input[type=text]:focus, input[type=password]:focus  {  
    background-color: #eee3d3;  
    outline: none;  
  }  
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }   
 
/* unvisited link 
a:link {
    color: rgb(10, 4, 3);
}

/* visited link 
a:visited {
    color: rgb(0, 0, 0);
}

/* mouse over element 
div:hover {
    color: black;
} 

 selected link 
a:active{
    color: #0000FF
}  */
